.cor-vermelho{
    background-color: rgb(237, 71, 29);
}

.cor-azul{
    background-color: rgb(32, 83, 224);
}

.cor-verde{
    background-color: rgb(36, 165, 36);
}

.cor-rosa{
    background-color: rgb(163, 16, 154);
}

.form-label{
    font-weight: bold;
}