.cor-vermelha{
    background-color: red;
}

.cor-azul{
    background-color: blue;
}

.cor-verde{
    background-color: green;
}

.cor-roxo{
    background-color: purple;
}

.cor-laranja{
    background-color: orangered;
}

.cor-rosa{
    background-color: pink;
}