body{
    margin: 0 auto;
    background-color: #202124;
    font-family: Arial, Helvetica, sans-serif;
    color: #bdc1c6;
}

#header-topo{
    text-align: right;
}

#header-topo img{
    width: 3em;
    height: 3em;
    padding-left: 1em;
}

#header-topo a{
    text-decoration: none;
    color: #93999F;
    padding-left: ;
}

#conteudoPrincipal{
    margin: 0 auto;
    text-align: center;
}